*{
    box-sizing: border-box;
}
.box{
    margin: 30px 0;
    border: 6px solid;
    height: 90px;
    border-radius: 20px;
}
.box .leftbox{
    background-color: yellow;
    height:50px;
    width: 60px;
    position: relative;
    left: 20px;
    top: 12px;
}
.box .longbox{
    background-color: yellow;
    height: 50px;
    width: 800px;
    position: relative;
    bottom: 38px;
    left: 300px;
}
.box .rightbox{
    background-color: yellow;
    height:50px;
    width: 80px;
    position: absolute;
    right: 40px;
    top: 50px;
}
.box .longbox .box-1{
    background-color: rgba(0, 204, 255, 0.968);
    height: 40px;
    width: 200px;
    position: relative;
    top: 9px;
    left: 40px;
}
.box .longbox .box-1 .box-1-1{
    background-color: red;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0px;
}
.box .longbox .box-2{
    background-color: rgba(0, 204, 255, 0.968);
    height: 40px;
    width: 200px;
    position: absolute;
    top: 9px;
    right: 260px;
}
.box .longbox .box-3{
    background-color: rgba(0, 204, 255, 0.968) ;
    height: 40px ;
    width: 90px;
    position: absolute;
    top: 9px;
    right: 10px;
}
.box .rightbox .box1{
    height: 40px;
    width: 50px;
    border: 4px solid green;
    position: absolute;
    left: 15px;
    top: 5px;
}